<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1primer</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="appbar">
        <span1>جميع  دروس السنة الاؤلى ثانوي تاهيليي</span1>
    </div>
    <hr>
    <div class="container">
        <!-- تكرار القائمة والزر الأول -->
        <div class="content">
            <br>
            <br>
            <button class="more-button" id="more-button-1">اللغة العربية</button>
            <span>اضغط لعرض الدروس</span>
            <ul class="subject-list" id="subject-list-1">
                <a href="{{url_for('tcarless1')}}"><li>ar less1</li></a>
                <a href="{{url_for('tcarless2')}}"><li>ar less2</li></a>
                <a href="{{url_for('tcarless4')}}"><li>ar less3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>


                
            </ul>
        </div>

        <!-- تكرار القائمة والزر الثاني -->
        <div class="content">
            <button class="more-button" id="more-button-2">اللغة الفرنسية</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-2">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
        </div>

        <!-- تكرار القائمة والزر الثالث -->
        <div class="content">
            
            <button class="more-button" id="more-button-3">الرياضيات</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-3">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
        </div>
        
        <div class="content">
            
            <button class="more-button" id="more-button-4">الفيزياء و الكيمياء</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-4">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
            
        </div><div class="content">
            
            <button class="more-button" id="more-button-5">علوم الاحياة و الارض</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-5">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
           
        </div>
        
        <div class="content">
            
            <button class="more-button" id="more-button-6">اللغة الانجليزية</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-6">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
        </div>
        <div class="content">
        
            <button class="more-button" id="more-button-7">التاريخ و الجغرافية</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-7">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
       
        </div>
    
        <div class="content">
            <button class="more-button" id="more-button-8">التربية الاسلامية</button>
            <span>اضغط لعرض المزيد</span>
            <ul class="subject-list" id="subject-list-8">
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
            </ul>
        </div>

    </div>
    <div>
        <span2>© 2024 كل حقوق الطبع والنشر محفوضة </span2>
    </div>
    <script>
        // كود JavaScript لتكرار الأحداث لثلاثة أزرار وقوائم
        document.getElementById('more-button-1').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-1');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'اللغة العربية';
        });
        document.getElementById('more-button-2').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-2');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'اللغة الفرنسية';
        });

        document.getElementById('more-button-3').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-3');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'الرياضيات';
        });
        document.getElementById('more-button-4').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-4');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'الفيزياء و الكيمياء';
        });

        document.getElementById('more-button-5').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-5');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'علوم الحيات و الارض'
        });

        document.getElementById('more-button-6').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-6');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس' : 'اللغة الانجليزية';
        });

        document.getElementById('more-button-7').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-7');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'الاريخ و الجغرافية';
        });

        document.getElementById('more-button-8').addEventListener('click', function() {
            var subjectList = document.getElementById('subject-list-8');
            subjectList.classList.toggle('expanded');
            this.textContent = subjectList.classList.contains('expanded') ? 'الدروس':'التربة الاسلامية';
        });

    </script>
</body>
</html>